/* Default styling for dropdown items */
.custom-dropdown-item {
  color: black !important;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Hover effect for dropdown items */
.custom-dropdown-item:hover {
  background-color: green !important; /* Background color on hover */
  color: red !important; /* Text color on hover */
  transform: scale(1.05) translateY(-3px) !important; /* Slight popup effect on hover */
}
.dropdown-menu.show {
  padding: 10px;
}
/* Open the dropdown on hover */
.categories-dropdown:hover .dropdown-menu {
  display: block;
}
