/* HomePage.css */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk1Mi1iYi0xMjEta2x4aDd1dXIuanBn.jpg);
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
}


.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust as needed */
  margin: 0 auto;
}

/* Media query for screens below 762px */
@media (max-width: 762px) {
  .content-container {
    flex-direction: column; /* Switch to column layout */
  }

  .text-container {
    margin: 10px; 
    width: 85vw;

  }

  .slider-container {
    width: 87vw !important; /* Take full width in column layout */
    max-width: none; 
    margin-top: 10px;/* Reset max-width for full width */
  }
}
