/* HomePage.css */
.hero-section {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 189, 208, 0.411); /* Adjust opacity as needed */
}


.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust as needed */
  margin: 90px auto 150px 20px;
}

/* Media query for screens below 762px */
@media (max-width: 762px) {
  .content-container {
    flex-direction: column; /* Switch to column layout */
  }

  .text-container {
    margin: 10px; 
    width: 85vw;
  }

  .slider-container {
    width: 87vw !important; /* Take full width in column layout */
    max-width: none; 
    margin-top: 10px;/* Reset max-width for full width */
  }
}

.h2 {
  text-shadow: 2px 2px 4px rgba(23, 21, 22, 0.999);
  font-weight: bold;
}

.custom-p {
  font-family: 'Pacifico', cursive;
}

button.custom-button {
  background-color: #cb9a9a;
  border-color: #cb9a9a;
  color: white;
}

.button.custom-button:hover {
  background-color: #ec6464 !important; /* Change the color on hover */
}

.image-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}

.aos-image {
  width: 600px; /* Adjust image width */
  max-height: 500px; /* Adjust image height */
}

.image-with-label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  /* transition: transform 0.3s ease-in-out; Add a smooth transition effect */
}

/* .image-with-label:hover {
  transform: scale(1.1); 
} */

.image-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

html, body {
  overflow-x: hidden;
}

