/* Style for the main section */
.section-image-grid {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    justify-content: start;
    margin: 51px;
  }
  
  /* Style for the left div */
  .left-div-image {
    display: flex;
    flex-wrap: wrap;
    height: 378px;
    background-color: white;
  }
  
  /* Style for the right div */
  .right-div-image {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }
  
 /* Style for the individual images */
.image {
    margin: 10px; /* Add spacing between the images */
  }
