/* Custom CSS for the image slider */
.slider-container {
  width: 140vw; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width to avoid overstretching */
  height: 500px; /* Set the desired height */
  display: table-cell;
  align-items: center;
  justify-content: center; /* Center the slider horizontally */
  overflow: hidden; /* Hide overflowing content */
}

/* Style for individual slides */
.slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Keep the aspect ratio and fit the image within the slide */
}
