/* Custom CSS for the image slider */
.slider-container {
    width: 70%; /* Set the width to 50% of the viewport */
    height: 100vh; /* Take up the full viewport height */
    position: absolute;
    top: 40px;
    left: 20px; /* Add some space from the left side */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the slider horizontally */
    overflow: hidden; /* Hide overflowing content */
  }
  
  /* Style for individual slides */
  .slide img {
    max-width: 100%;
    height: auto;
  }
  