/* LoginSlideIn.css */

/* Initial state */
.login-container {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 999; /* Higher z-index than the rest of the page */
    transition: left 0.3s ease-in-out; /* Add smooth sliding transition */
  }
  
  /* Visible state */
  .login-container.open {
    left: 0; /* Slide in from the left to the center */
  }
  
  .login-form {
    background-color: #fff; /* Define your desired form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333; /* Define your desired button color */
    background: none;
    border: none;
    z-index: 9999;
  }
  