/* NavbarComponent.css */

/* Colors */
:root {
  --primary-bg-color: rgb(238, 203, 222);
  --icon-color: rgb(74, 62, 62);
  --link-default-color: black;
  --link-hover-color: rgb(24, 21, 21);
  --accent-color: #ffffff;
}

/* Navbar */
.custom-navbar {
  height: 70px !important;
  background-color: #cb9a9a !important;
  position: fixed !important;
  width: 100vw !important;
  z-index: 999 !important;
}

/* Logo */
.logo-img {
  width: 100px;
  height: 100px;
}

/* Nav Icons */
.nav-icon {
  font-size: 2.2rem; /* Adjust the font-size as needed */
  margin: 0 10px;
  color: var(--icon-color);
}

/* Custom Nav Link */
.custom-nav-link {
  color: var(--link-default-color); /* Default text color */
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.custom-dropdown-item:hover {
  background-color: var(
    --primary-bg-color
  ) !important; /* Background color on hover */
  color: var(--accent-color) !important; /* Text color on hover */
  transform: scale(1.4) translateY(-4px); /* Popup effect on hover */
}

/* Additional Nav Link Styles */
.nav-link {
  color: var(--accent-color) !important; /* Replace with your desired color */
  /* Additional styles if needed */
}

.dropdown-category {
  color: #c68989 !important ; /* Set your desired color */
  /* Additional styles if needed */
}
.custom-nav-link:hover {
  animation: shiver 0.3s infinite linear, increaseSize 0.2s forwards;
}

@keyframes shiver {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}

@keyframes increaseSize {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* Add these styles to make the close button transparent with a hover effect */
.search-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-close:hover {
  color: #c68989; /* Change the color on hover to match your design */
}

/* Define the initial width and visibility properties for the search input */
.search-input {
  width: 0 !important;
  visibility: hidden;
  transition: width 0.5s ease, visibility 0.5s ease !important;
}

/* Define the expanded width when the input is open and make it visible */
.search-input-open {
  width: 200px !important; /* Adjust the width as needed */
  visibility: visible;
}
